body{
    background-image: url('https://ae01.alicdn.com/kf/HTB16lE2NXXXXXXZapXXq6xXFXXXs/Grande-muraille-mur-de-briques-fond-d-cran-gris-pour-salon-3d-pierre-papier-peint-moderne.jpg_640x640.jpg')
}
h1{
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 55px;
    font-style: italic;
}

h2{
    text-align: center;
    color: black;
    font-size: 30px;
    font-style: italic;
}

.title{
    background-color: beige;
    width: 556px;
    margin: auto;
    opacity: 0.7;
    font-style: italic;
    animation: neon2 1.5s ease-in-out infinite alternate
}

.frame{
    height: 400px;
    width: 400px;
    background-color: black;
    margin: auto;
    position: relative;
    border: 0.5px solid white;
    
}

tbody{
    background: linear-gradient(#FFD700,#FF4500)
}

tr{
    height: 20px;
    width: 400px;
}

td{
    height: 16px;
    width: 55px;
    border: 1px solid black;
}

.racket{
    width: 50px;
    border: 6px solid red;
    margin: auto;
    position: absolute;
    left:167px;
    bottom: 20px;
}

#ball{
    background-color:#F0FFFF;
    height: 10px;
    border-radius: 80%;
    width: 11px;
    position: absolute;
    left: 200px;
    bottom: 170px;
}